<app-header titulo="card"></app-header>


<ion-content padding>

    <ion-card mode="ios" color="primary">
        <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item color="primary">
            <ion-icon slot="start" name="pin"></ion-icon>
            <ion-label>
                Marcador
            </ion-label>
        </ion-item>
        <ion-card-content>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui ex ut ad nihil. Similique blanditiis dolor ex, impedit esse voluptatem vel voluptatibus quibusdam nisi officiis adipisci officia minus doloremque distinctio.
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-img src="/assets/shapes.svg">
        </ion-img>
        <ion-card-content>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi adipisci laudantium, vel distinctio quidem possimus similique dolore rerum magni, aspernatur tempora molestiae esse illo, ratione consectetur atque nam! Repudiandae, animi!
        </ion-card-content>
    </ion-card>
</ion-content>